#terrain {
  background: pink;
  width: 700px;
  height:400px;
  position: relative;
  margin:auto;
}

#balle{
position: absolute;
left: 350px;
top: 200px;
width:20px;
height:20px;
border:1px ;
border-radius: 20px;
background: #FF69B4;
}

#racket1{
    width: 15px;
    height: 100px;
    background: #FF1493;
    position: absolute;
    left:10px;
}

#racket2{
    width: 15px;
    height: 100px;
    background: #FF00FF;
    position: absolute;
    right:10px;
}
#score1{
  position:absolute;
  top:50%;
  left:-300px;
  color:#FF1493;
  font-size:100px;

}
#score2{
  position:absolute;
  top:50%;
  right:-300px;
  color:#FF00FF;
  font-size:100px;
}

#Recommencer{
  position:absolute;
  left:0;
  right:0;
  margin:auto;
}

#bravo1{
  position:absolute;
  font-size:100px;
  color:#FF1493;
  left:0;
  right:0;
  margin:auto;
  top:50%;

}

#bravo2{
  position:absolute;
  font-size:100px;
  color:#FF00FF;
  left:0;
  right:0;
  margin:auto;
  top:50%;
}


